.header{
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    padding: 92px 24px;
    justify-content:center;
    font-family: Raleway, sans-serif;
    font-size:18px;
}
.header_logo{
    display: grid;
    align-self: baseline;  
}
.header_logo-image{
    width: 148px;
    height: 105px; 
    align-self: center;
}
.header_menu{
    align-self: center;
}
.header_menu-list{
    display: flex;
    list-style:circle;
    justify-content: space-between;
    text-underline-offset: 4px;
    margin-left: 27px;
    margin-right: 37px;
}
.header_menu-link{
    color: #000;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    text-transform: lowercase;
    text-decoration: underline;
}
.header_menu-item_active{
    text-decoration: none;
    list-style: none;
}
.address{
    display:flex;
    flex-direction: column;
    text-decoration:none;
    font-style: normal;
    line-height:1.35;
    color: #000;
    font-size: 18px;
    font-family: Raleway, sans-serif;
    text-underline-offset: 4px;
}
.header_address{
    justify-self: end;
    margin-top:5px;
    margin-right:65px;
}
.cover{
    display:block;
    width:1100px;
    background: url("../images/cover.jpg");
    background-position: center left;
    background-repeat:no-repeat;
    background-size: cover;
    position:relative;
}
.overlay{
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.6);
    position:absolute;
    z-index:1;
}
.cover-titel{
    display:block;
    padding:170px 50px 90px 50px;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-size:100px;
    text-transform: uppercase;
    position:relative;
    z-index: 2;
}
.aligned-text{
    display:block;
    line-height:115px;
    letter-spacing: 30px;   
}
.letter-spacing-extended{
    letter-spacing:60px;
}
.aligned-text_center{
    display:block;
    line-height:100px;
    letter-spacing: 30px;
    margin: 20px 0 0 285px;
}
.aligned-text_right{
    display:block;
    line-height:100px;
    letter-spacing:60px;
    justify-content:end;
    margin: 20px 585px;
}
.letter-spacing-extend{
    letter-spacing:30px;
}
.no-letter-spacing{
    letter-spacing:0;
}
.cover__description{
    display:flex;
    font-family: Raleway, sans-serif;
    font-size:22px;
    color: #fff;
    text-transform: uppercase;
    padding:25px 50px 50px 79px;
    position:relative;
    z-index:2;
}
.cover__description-text{
    word-spacing:19px;
    margin-top:10px;
}
.cover__description-text_center{
    word-spacing:20px;
}
.cover__description-text_right{
    word-spacing:18px;
    margin-left:20px;
}
.bet-button{
    border-color:#fff;
    background-color: transparent;
    position:relative;
    z-index:2;
    padding: 11px 32px;
    font-family: Raleway, sans-serif;
    font-size:21px;
    color: #fff;
    text-transform: uppercase;
    word-spacing:5px;
    margin-left:80px;
    width:256px;
}
.lots{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:1052px;
    margin-left:24px;
    margin-top:72px;  
}
.lots__heading{
    font-family: Raleway, sans-serif;
    font-size:40px;
    text-transform: uppercase;
    margin-left:40px;
    margin-top:110px;
    margin-bottom: 25px;
}
.lots__card-list{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    list-style:none;
    position:relative;
    gap: 25px;
}
.lots__card-list-item{
    flex-grow: 0;
    width:334px;
    min-height:563px;
    column-gap:25px;
}
.card-link{
    display:block;
    list-style:none;
    height:100%;
    text-decoration: none;
}
.card{
    display:flex;
    min-height:563px;
    width:334px;
    flex-direction:column;
    justify-content: space-between;
    position:relative;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
}
.card_type_film{
    background: url("../images/card-lot-01.jpg");
}
.card_type_book{
    background: url("../images/card-lot-02.jpg");
}
.card_type_picture{
    background: url("../images/card-lot-03.jpg");
}
.card__title{
    max-width:254px;
    font-size:22px;
    text-transform: uppercase;
    text-decoration:underline;
    text-underline-offset: 4px;
    color:#fff;
    margin-left:40px;
    margin-top:50px;
    z-index:2;
}
.card__text{
    max-width:254px;
    font-size:20px;
    line-height:24px;
    color:#fff;
    margin-left:40px;
    margin-bottom:48px;
    z-index:2;
}
.lots__look-more-link{
    display:block;
    margin:30px 102px 0 40px;
    font-size: 20px;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.about{
    max-width:1100px;
    display:grid;
    grid-template-columns: 359px 1fr;
    grid-template-rows: repeat(3,content);
    padding:146px 24px 180px;
    row-gap:15px;
}
.about__logo{
    height:240px;
    width:240px;
    grid-row:1/2;
    grid-column:1/2;
    background-color:#000;
    border-radius:50%;
    place-self:center;
    margin-top:35px;
    margin-right:25px;
}
.about_logo-image{
    width:148px;
    height:114px;
    margin:64px 46px;
}
.about__titel{
    grid-row:1;
    grid-column:2/3;
    font-size: 40px;
    font-family: Raleway, sans-serif;
    color: #000;
    text-transform:uppercase;
    text-align:left;
    margin-top:138px;
}
.about__text{
    grid-column:2/3;
    font-size: 20px;
    font-family: Raleway, sans-serif;
    color: #000;
    line-height:24px;
    word-spacing:1px;
}
.footer{
    margin:0 50px 88px;
    display:grid;
    grid-template-columns:1fr 145px 1fr;
    font-family: Raleway, sans-serif;
    font-size:18px;
}
.footer_address{
    line-height:1.4;
    margin-top:7px;
    justify-self:left;
    text-underline-offset:4px;
}
.footer_menu{
    display:block;
    width:149px;
    text-align:center;
}
.footer_menu-list{
    color:#000;
    font-family: Raleway, sans-serif;
    font-size:18px;   
    text-underline-offset:4px;
    list-style:none;
    margin-top:6px;
}
.footer_menu-link{
    text-transform: lowercase;
    text-decoration: underline;
}
.footer_menu-item_active{
    text-decoration:none;
}
.footer__social-list{
    display:flex;
    justify-content:space-between;
    margin-left:185px;
    margin-top:4px;
}
.footer__social-list-item{
    display:flex;
    list-style:none;   
}
.footer__social-icon{
    width:48px;
    height:48px;
}